pandas
numpy
python-dotenv
# pymongo  pip install --upgrade cryptography
certifi
pymongo[srv]
scikit-learn
PyYAML
pymongo
cryptography
mlflow>=2,<3
dvc
dagshub
dvc-s3
fastapi
uvicorn
python-multipart
-e .